/* body{
    font-family: 'Damion', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
} */

body{
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(17, 17, 17);
}

section, footer{
    width: 100%;
}

.sec2, .sec3, .sec4, .sec5, .sec7, footer{
    margin-bottom: 150px;
}

.con1, .con2, .con4, .sec5{
    padding: 200px 20% 0 20%;
    box-sizing: border-box;
}

.sec6{
    padding: 200px 0 0 20%;
    box-sizing: border-box;
}

.sec3, .sec7{
    padding: 0 5%;
    box-sizing: border-box;
}

.sub_title{
    color: #fff;
    font-size: 4em;
    font-weight: 900;
    letter-spacing: -1px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

@media screen and (max-width:768px) {
    
    .sub_title{
        color: #fff;
        font-size: 2.3em;
        font-weight: 600;
        letter-spacing: -1px;
        margin-bottom: 30px;
    }


}
