.sec4{
    height: 100vh;
}

.con4_boxwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con4_box{
    width: 300px;
}

.con4_imgbox{
    background-color: #fff;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.con4_textbox{
    color: #fff;
    font-size: 1.3em;
    margin: 15px 0 10px 0;
}

.color_dot{
    height: 20px;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con4_dot{
    width: 20px;
    height: 100%;
    border-radius: 50%;
}

.con4_dot1{background-color: #fff;}
.con4_dot2{background-color: rgb(235, 91, 91);}
.con4_dot3{background-color: #6c85eb;}

.mo_con4{
    display: none;
}

@media screen and (max-width:1550px) {

    .con4{
        padding: 0 10%;
    }

    .con4_boxwrap{
        justify-content: space-around;
    }

}

@media screen and (max-width:1160px) {

    .pc_con4{
        display: none;
    }

    .mo_con4{
        width: 100%;
        display: block;
        padding: 0 0 0 5%;
    }
    .mo_con4 .con4_boxwrap{
        justify-content: space-between;
    }

    .mo_con4 .con4_imgbox{
        width: 280px;
        height: 400px;
    }

    .mo_con4 .con4_imgbox img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }




}
